extends layout

block content
  script(type="text/javascript").
    function vv() {
      location.href = '/artical/edit'; 
    }
  include nav.jade
  div.Row#content-div
    div.col-lg-9
      div.page-header
        h3 日志列表
      ul(class="media-list")
        each page in pageList
          li.media
            div.media-left
              -var time = page.createTime
              -var year = time.split('-')[0] + '年'
              -var mouth = time.split('-')[1] + '月'
              -var day = time.split('-')[2] + '日'
              -var newData = mouth + '' + day
              div(style="width: 56px")
                div.page-list--createTime #{newData}
                div.page-list--createTime2 #{year}
            div.media-body
              div
                span.page-list-title
                  a(href=`/artical/detail/${page.id}`).page-list-a #{page.title}
              div
                span.page-list-description #{page.description}
      div
        div.col-lg-2.col-lg-offset-9
        button(class="btn btn-warning" onclick="vv()") 新增
    include introduce.jade
  include footer.jade